{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     


<style>

    body {
      background-image: url("/static/images/about.jpeg");
      background-repeat:no-repeat;
      background-size:cover;
    }
    
    .container {
        padding-left: 100px;
    }
    .contact-form {
        padding: 20px;
        background: #ffffff;
        height: 300px;
        width: 80%;
    }
    
    </style>

    <body>
    <section class="section-100">
      <div class="container">
    <br>
        
           
              
        
 
           
    <div class="contact-form">
          
          <div class="contact-form-box__right">
            <div style="font-size:200%;">Thank you for your order!</div><br> 
            
            <div>We have received your order and will send you the payment instructions to your email address shortly.</div><br>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div><br> 

            <div>Thank you for shopping with Black Books!</div>
          </div>
        </div>
      </div>
    </div>
    </section>
    </body>
    </html>
    



{% endblock content %}